<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
<type name="Magento\Catalog\Model\Product">
    <plugin name="change_product_price" type="MageRakesh\ChangeProductPrice\Plugin\Product" sortOrder="1" disabled="false"/>
</type>
</config>